<!doctype html>
<html lang="en">

<head>
    {{>links}}

    <title>विठ्ठला</title>
    <style>
        .featurette-heading {
            font-size: 40px;
            background-color: #8b005d;
            width: 300px;
            text-align: center;
            margin: 14px;
            padding: 10px;
            color: #fff;
            border-radius: 8px;
        }

        .featurette img {
            width: 470px;
            height: 350px;
        }

        .featurette .lead {
            font-size: 24px;
        }

        .col-lg-7 {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        @media (max-width:768px) {
            .featurette-heading {
                width: 300px;
            }

        }
    </style>
</head>

<body>

    <div class="container-fluid mt-4">
        <div class="row">
            {{>navbar}}
        </div>
    </div>
    <div class="container container-card mt-5">
        <div class="col-md-12 one m-4">
            <div class="row featurette d-flex justify-content-center align-items-center">
                <div class="col-lg-5 d-flex justify-content-center align-items-center mb-4">
                    <img src="images/m1.jfif" class="img-fluid" alt="">
                </div>
                <div class="col-lg-7 ">
                    <h3 class="featurette-heading">Dr.Rom Hone</h3>
                    <h4 class="featurette-heading" style="color: grey; font-size: 25px;">Founder And CEO </h4>
                    <p class="lead"> Love is a fruit in season at all times, and within reach of every hand. Have
                        something that you enjoy, that satisfies you. For me, that is dark chocolate, red wine, and
                        cheese. But make room in your life for vegetables and whole grains Lorem ipsum dolor sit
                        amet consectetur adipisicing elit. Repellat porro rem nesciunt quae beatae voluptate. to
                        nourish your body.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-12 two m-4">
            <div class="row featurette d-flex justify-content-center align-items-center ">
                <div class="col-lg-5 d-flex justify-content-center align-items-center mb-4">
                    <img src="images/m2.jfif" class="img-fluid" alt="">
                </div>
                <div class="col-lg-7">
                    <h3 class="featurette-heading">Turvi pope</h3>
                    <h4 class="featurette-heading" style="color: grey; font-size: 25px;">Chief Technology Officer</h4>
                    <p class="lead">I believe the future is vegetables and fruits. They are so much more sexier than
                        a piece of chicken. My experience as a school nurse taught me that we need to make a
                        concerted effort, all of us, to increase physical fitness activity among our children and to
                        encourage all Americans to adopt a healthier diet that includes fruits and vegetables, but
                        there is more.</p>
                </div>
            </div>
        </div>
        <div class="col-md-12 three m-4">
            <div class="row featurette d-flex justify-content-center align-items-center">
                <div class="col-lg-5 d-flex justify-content-center align-items-center mb-4">
                    <img src="images/m3.jfif" class="img-fluid" alt="">
                </div>
                <div class="col-lg-7 mb-4">
                    <h3 class="featurette-heading">Emma Butt</h3>
                    <h4 class="featurette-heading" style="color: grey; font-size: 25px;">People Development Initiater
                    </h4>
                    <p class="lead">Sometimes the mind, for reasons we don't necessarily understand, just decides to
                        go to the store for a quart of milk Lorem, ipsum dolor sit amet consectetur adipisicing
                        elit. Nemo ad veritatis, tempore tempora ipsum facilis! Culpa veniam ea sint praesentium,
                        atque deleniti ex tempora optio voluptatem odit harum deserunt non adipisci asperiores
                        possimus quod sed illum? Autem ducimus assumenda veniam?</p>
                </div>
            </div>
        </div>
        <div class="col-md-12 four m-4">
            <div class="row featurette d-flex justify-content-center align-items-center ">
                <div class="col-lg-5 d-flex justify-content-center align-items-center mb-4">
                    <img src="images/m4.jfif" class="img-fluid" alt="">
                </div>
                <div class="col-lg-7">
                    <h3 class="featurette-heading"> Warg Lord</h3>
                    <h4 class="featurette-heading" style="color: grey; font-size: 25px;">Co-Founder </h4>
                    <p class="lead">The first step to optimising testosterone is eating right. That means cutting
                        out the processed junk food and focusing on high quality proteins, carbs, fats, and an
                        abundance of fruits and vegetables. Don't fall into the 'low fat' eating trap, as this will
                        seriously inhibit your testosterone production.</p>
                </div>
            </div>
        </div>
        <div class="col-md-12 five m-4">
            <div class="row featurette d-flex justify-content-center align-items-center ">
                <div class="col-lg-5 d-flex justify-content-center align-items-center mb-4">
                    <img src="images/m5.jfif" class="img-fluid" alt="">
                </div>
                <div class="col-lg-7">
                    <h3 class="featurette-heading"> Lam John </h3>
                    <h4 class="featurette-heading" style="color: grey; font-size: 25px;">Part Of The Customer Experience
                        Team </h4>
                    <p class="lead">For breakfast, I juice a big green juice, and I try to get in as much raw food
                        and protein as I can, obviously plant proteins and legumes, but sometimes it's late at
                        night, and there's a frozen pizza in there, and sometimes it's all you've got! You don't
                        have the energy to chop up a bunch of vegetables.</p>
                </div>
            </div>
        </div>
        <div class="col-md-12 six m-4">
            <div class="row featurette d-flex justify-content-center align-items-center ">
                <div class="col-lg-5 d-flex justify-content-center align-items-center mb-4">
                    <img src="images/m6.jfif" class="img-fluid" alt="">
                </div>
                <div class="col-lg-7">
                    <h3 class="featurette-heading">Jimmy labant</h3>
                    <h4 class="featurette-heading" style="color: grey; font-size: 25px;"> HR </h4>
                    <p class="lead"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde non ipsum
                        doloribus voluptas molestias exercitationem sunt laboriosam rem, accusantium temporibus
                        repudiandae, consequuntur recusandae facere quae iure nostrum? Laboriosam velit ducimus
                        doloribus provident natus molestiae, quibusdam dolores cum facere, obcaecati praesentium
                        ullam! Illum ut, assumenda officiis nisi minus iusto explicabo tempore?</p>
                </div>
            </div>
        </div>

        <div class="col-md-12 seven m-4">
            <div class="row featurette d-flex justify-content-center align-items-center ">
                <div class="col-lg-5 d-flex justify-content-center align-items-center mb-4">
                    <img src="images/m7.jfif" class="img-fluid" alt="">
                </div>
                <div class="col-lg-7">
                    <h3 class="featurette-heading">Robbi Starc </h3>
                    <h4 class="featurette-heading" style="color: grey; font-size: 25px;">Co-Founder</h4>
                    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam nisi facere
                        assumenda fuga nemo, perferendis nam corporis. Eligendi ad nobis praesentium iste omnis,
                        quis, harum quasi quas quae ut fuga aut at animi placeat aliquam impedit sequi doloremque
                        quam consequatur. Adipisci architecto sunt alias placeat quo et facilis nobis? Recusandae?
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-12 eight m-4">
            <div class="row featurette d-flex justify-content-center align-items-center ">
                <div class="col-lg-5 d-flex justify-content-center align-items-center mb-4">
                    <img src="images/m8.jfif" class="img-fluid" alt="">
                </div>
                <div class="col-lg-7">
                    <h3 class="featurette-heading">Gray Warm</h3>
                    <h4 class="featurette-heading" style="color: grey; font-size: 25px;">CFO</h4>
                    <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus, saepe adipisci!
                        Molestiae, sunt aspernatur illo aut deleniti ducimus veritatis possimus aperiam, labore
                        asperiores soluta optio, atque quisquam. Voluptatem quisquam possimus aliquid repudiandae,
                        earum placeat velit optio ullam reiciendis incidunt quasi ea minima, laudantium fugiat
                        voluptatibus natus, delectus aperiam error reprehenderit.</p>
                </div>
            </div>
        </div>
        <div class="col-md-12 nine m-4">
            <div class="row featurette d-flex justify-content-center align-items-center ">
                <div class="col-lg-5  d-flex justify-content-center align-items-center mb-4">
                    <img src="images/m9.jfif" class="img-fluid" alt="">
                </div>
                <div class="col-lg-7">
                    <h3 class="featurette-heading">Sant Broat</h3>
                    <h4 class="featurette-heading" style="color: grey; font-size: 25px;">Leads Product </h4>
                    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta numquam, quae
                        quod voluptatibus dolores veniam minus quasi placeat maiores at aliquid doloremque eius
                        repudiandae, in hic ex saepe neque fugit tempore! Officiis aperiam nemo ea eveniet, quis
                        dolore quam illum consectetur dignissimos molestias animi excepturi non vitae temporibus
                        numquam mollitia?</p>
                </div>
            </div>
        </div>
        <div class="col-md-12 ten m-4">
            <div class="row featurette d-flex justify-content-center align-items-center ">
                <div class="col-lg-5  d-flex justify-content-center align-items-center mb-4">
                    <img src="images/m10.jfif" class="img-fluid" alt="">
                </div>
                <div class="col-lg-7">
                    <h3 class="featurette-heading">Krishna Rao</h3>
                    <h4 class="featurette-heading" style="color: grey; font-size: 25px;"> Secretary </h4>
                    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit corrupti
                        dolorem eum incidunt odit facere fuga unde ipsum ullam rem. Ab tenetur dolor est, maiores
                        assumenda, veniam nemo, natus suscipit incidunt consequuntur autem eum distinctio odit iste.
                        Sequi, maxime nesciunt odio vel id quidem asperiores quasi dolorem soluta modi corporis?</p>
                </div>
            </div>
        </div>
        <div class="col-md-12 elevon m-4">
            <div class="row featurette d-flex justify-content-center align-items-center ">
                <div class="col-lg-5  d-flex justify-content-center align-items-center mb-4">
                    <img src="images/m11.jfif" class="img-fluid" alt="">
                </div>
                <div class="col-lg-7">
                    <h3 class="featurette-heading">Horry Potter</h3>
                    <h4 class="featurette-heading" style="color: grey; font-size: 25px;"> Secretary </h4>
                    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit corrupti
                        dolorem eum incidunt odit facere fuga unde ipsum ullam rem. Ab tenetur dolor est, maiores
                        assumenda, veniam nemo, natus suscipit incidunt consequuntur autem eum distinctio odit iste.
                        Sequi, maxime nesciunt odio vel id quidem asperiores quasi dolorem soluta modi corporis?</p>
                </div>
            </div>
        </div>
        <div class="col-md-12 twelve m-4">
            <div class="row featurette d-flex justify-content-center align-items-center ">
                <div class="col-lg-5  d-flex justify-content-center align-items-center mb-4">
                    <img src="images/m12.jfif" class="img-fluid" alt="">
                </div>
                <div class="col-lg-7">
                    <h3 class="featurette-heading">Nui Chang</h3>
                    <h4 class="featurette-heading" style="color: grey; font-size: 25px;">Backbone </h4>
                    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit corrupti
                        dolorem eum incidunt odit facere fuga unde ipsum ullam rem. Ab tenetur dolor est, maiores
                        assumenda, veniam nemo, natus suscipit incidunt consequuntur autem eum distinctio odit iste.
                        Sequi, maxime nesciunt odio vel id quidem asperiores quasi dolorem soluta modi corporis?</p>
                </div>
            </div>
        </div>
    </div>

    {{>details}}


    {{>footer}}

</body>

</html>