<!doctype html>
<html lang="en">

<head>

    {{>links}}

    <title>विठ्ठला</title>
</head>

<body>

    <div class="container-fluid mt-4">
        <div class="row">
            {{>navbar}}
        </div>
        <div class="row mt-5 mb-5" id="now">
            <div class="col-sm-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur praesentium aut maiores ratione. Et, ducimus! Labore omnis pariatur aut eaque tenetur recusandae voluptatibus magni, atque impedit! Blanditiis ducimus quas nisi.
            </div>
            <div class="col-sm-4" id="ongoing">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod pariatur odit, est harum ipsam exercitationem fugit quibusdam totam et facilis optio ad mollitia libero doloribus! Soluta hic cupiditate iusto et.
            </div>
            <div class="col-sm-4" id="past">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt reprehenderit voluptatum ipsa commodi nulla sint quia impedit qui cupiditate doloribus maxime, repellendus totam dolore molestias, illo at quo quisquam provident.</div>
        </div>
    </div>


    {{>footer}}

</body>


</html>