<div class="container all-about mb-5">
    <div class="row about">
        <h1 class="head-text"><img src="images/logo1.jpg" alt="विठ्ठला" class="logo_1"></h1>
        <div class="row">
            <div class="col-lg-3 about-us mt-5">
                <h1> About Us </h1>
                <a href="/members"> Who Work For You </a> <br>
                <a href="/services"> Our Services For You </a> <br>
                <a href="/contact"> Contact Us </a> <br>
                <a href="/order_details"> Order Details </a> <br>
                <a href="/login"> Login </a> <br>
                <a href="/signup"> Sign-up </a> <br>
                <a href="">Terms</a> <br>
                <a href="">Privacy Policy</a>
            </div>
            <div class="col-lg-3 order mt-5">
                <h1> Order Now </h1>
                <a href="/order" class="btn bg-primary order-btn"> Place Your Order </a>
                <p>Fresh Fruits & Vegetables, Daily Needs likes Milk, Butter, Yogurt, Lassi, panner, Chiwda
                    Packets, Chips, Biscuits,Cakes, Ice-Cream, Ice-Cream-Cone, etc</p>
            </div>
            <div class="col-lg-3 address mt-5">
                <h1> Address </h1>
                <p> 4351 WILDROSE LANE, RAJ NAGAR, WA, <br> JALNA, 98001 </p>
                <p> +917854789658 </p>
                <p> vitthala@veg.com </p>
            </div>
            <div class="col-lg-3 social-links mt-5">
                <h1>Social Links</h1>
                <a href=""> <i class="fab fa-facebook-square"></i></a>
                <a href=""> <i class="fab fa-twitter-square"></i></a>
                <a href=""> <i class="fab fa-instagram"></i></a>
                <a href=""> <i class="fab fa-linkedin"></i></a>

                <div class="app">
                    <p> <button class="btn" href=""> <i class="fab fa-google-play"></i> Get It On <h5> Google Play
                            </h5> </button> </p>
                    <p> <button class="btn" href=""> <i class="fab fa-apple"></i> Download From <h5> App Store </h5>
                        </button> </p>
                </div>
            </div>
        </div>
    </div>
</div>