<div class="col-md-12 header p-4" style="background-image: url('images/header__bg1.jpg'); background-size: cover;">
    <nav class="navbar navbar-expand-md mt-2">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="images/logo1.jpg" alt="विठ्ठला" class="logo"><a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse mt-5" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/login">Log In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/signup">Sign Up</a>
                            </li>
                        </ul>
                    </div>
        </div>
    </nav>
    <div class=" col-md-12 heading">
        <h1>WELCOME TO <span class="text">विठ्ठला</span> VEG HUB</h1>
        <h3> Experience A Burst Of <span class="text">FRESHNESS</span></h3>
        <a href="/order" class="btn bg-warning bg-opacity-50 order-now"> Place Your Order </a>
    </div>
</div>